.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
        "first first first first"
        "sixth_one sixth_two sixth_three sixth_four"
        "second_one second_one second_two second_two"
        "third_one third_two third_two third_three"
        "fourth_one fourth_one fourth_one fourth_one"
        "fifth_one fifth_one fifth_one fifth_one"
        ;
        font-family: 'Courier New', Courier, monospace; 
        font-size: 20px;
        text-align: justify;
    }
 
a {
            color: #000;
          }

.first {
    grid-area: first;
    border: 1px solid #000000;
    background-color: #8a785d;
    padding: 40px;
    color: #fff;
    text-align: center;
}
 
.sixth_one {
    grid-area: sixth_one;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.sixth_two {
    grid-area: sixth_two;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.sixth_three {
    grid-area: sixth_three;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.sixth_four {
    grid-area: sixth_four;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.second_one {
    grid-area: second_one;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 30px;
}

.second_two {
    grid-area: second_two;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 40px;
}

.third_one {
    grid-area: third_one;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
}

.third_two {
    grid-area: third_two;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px; 
}

.third_three {
    grid-area: third_three;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 35px;
}

.fourth_one {
    grid-area: fourth_one;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 50px;
}

.fifth_one {
    grid-area: fifth_one;
    border: 1px solid #000000;
    background-color: #8a785d;
    padding: 50px;
    text-align: center;
    color: #fff;
    font-size: 10px;
}

