.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas:
        "first first first first"
        "sixth_one second_one second_two third_three"
        "third_one third_one third_two third_two"
        "fourth_one fourth_one fourth_one fourth_one"
        ;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align: justify;     
    }
 
a {
            color: #000;
          }

.first {
    grid-area: first;
    border: 1px solid #000000;
    background-color: #8a785d;
    padding: 40px;
    text-align: center;
    color: #ffffff;
}

.sixth_one {
    grid-area: sixth_one;
    border: 1px solid #000000;
    background-color: #eeeed2;
    text-align: center;
    padding: 50px;
}

.second_one {
    grid-area: second_one;
    border: 1px solid #000000;
    background-color: #eeeed2;
    text-align: center;
    padding:  50px;
}

.second_two {
    grid-area: second_two;
    border: 1px solid #000000;
    background-color: #eeeed2;
    text-align: center;
    padding: 50px;
}

.third_three {
    grid-area: third_three;
    border: 1px solid #000000;
    background-color: #eeeed2;
    text-align: center;
    padding: 50px;
}

.third_one {
    grid-area: third_one;
    border: 1px solid #000000;    
    background-color: #fff;
    padding: 40px;
        
}

.third_two {
    grid-area: third_two;
    border: 1px solid #000000;
    background-color: #fff;
    padding: 40px;
}


.fourth_one {
    grid-area: fourth_one;
    border: 1px solid #000000;
    background-color: #8a785d;
    padding: 40px;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
